.a {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 50px;
    height: 100vh;
    background-color: #16181b;
  }
  
  .slider {
    width: 100%;
    height: 50vw;
    position: relative;
    overflow: hidden;
  }
  
  .snapper {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }
  
  .curve-top,
  .curve-bottom {
    content: '';
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: #16181b;
    z-index: 2;
    left: 0;
    pointer-events: none;
  }
  
  .curve-top {
    top: 0;
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
  }
  
  .curve-bottom {
    bottom: 0;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
  }
  