@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
    border-sizing:border-box;
}
.input {
    @apply w-full p-3 border border-gray-300 rounded-lg bg-gray-50 focus:outline-none focus:ring-2 focus:ring-[#ED1215];
  }
  .btn-primary {
    @apply w-full bg-[#ED1215] text-white py-3 rounded-lg font-semibold hover:bg-red-600 transition duration-200;
  }
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-slide {
    animation: slide 20s linear infinite;
  }

  .clipped-image {
    clip-path: path(
      "M0,0 Q50,40 100,0 L100,100 Q50,60 0,100 Z"
    );
  }
  